<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Screenshot test">
	<listeners>
		<!--<listener class-name="com.report.tryGenerateReport.GenerateReportWithIreport"/>-->
		<!-- <listener class-name="com.report.tryGenerateReport.ListenersDefinitionClass"/>-->
	</listeners>
	<!-- Test -->
	<test name="Screenshot test 001" >
		<classes>
			<class name="com.report.takeScreenshotProject.AppTest"/>
		</classes>
	</test> 
	<!-- End Test -->
</suite> <!-- Suite -->